:root {
    --primary-color: #292A32;  /* Dark background */
    --secondary-color: #189DA0; /* Accent color */


    --font-primary: 'Poppins', sans-serif;
    --font-secondary: "Space Grotesk", serif;
}