
@media (max-width:1115px){
    .text{
        font-size: 42px;
    }
    .image{
        margin-right: 20px;
    }
    .not-txt img{

    }
}
@media (max-width:1060px){
    .image img{
        width: 478px;
        height: 334px
    }
    .text{
        font-size: 40px;
    }
    .nav-links a{
        font-size: 18px;
    }
}
@media (max-width:932px){
    .text{
        font-size: 30px;
        
    }
    .custom-btn{
        padding: 13px 27px;
        font-size: 18px;
    }
    .nav-links a{
        font-size: 16x;
    }
    .logo{
        margin-left:20px;
    }
}

#menu-icon, #close-icon {
    display: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
}

/* ✅ Mobile Navbar */
@media (max-width: 877px){
    .image img{
        width: 478px;
        height: 334px;
    } 
    .text{
        margin-left:40px;
    }
   
    .nav-links {
        position: fixed;
        background: #189DA0;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 60px;
        padding-left: 20px;
        transition: right 0.3s ease-in-out;
        z-index: 100;
        color:white;
    }
    .nav-links a{
        color: white;
    }
    .nav-links li {
        display: block;
        width: 100%;
        
    }

    #menu-icon {
        display: block;
        color: #292A32;
    }

    #close-icon {
        display: none;
        position: absolute;
        right: 20px;
        top: 20px;
        color: white;
    }

    .nav-links.nav-active {
        right: 0;
    }

    .nav-links.nav-active #close-icon {
        display: block;
    }

    .nav-links.nav-active ~ #menu-icon {
        display: none;
    }
}
@media (max-width:840px){
    .image img{
        width: 444px;
        height: 300px;
    } 
}
@media (max-width:800px){
    .image{
        margin-right: 40px;
    }
    .custom-btn{
        padding: 13x 27;
    }
}
@media (max-width:720px){
    .image img{
        width: 414px;
        height: 270px;
    
    } 
    .image{
        margin-right: 30px;
    }
    .custom-btn{
        padding: 13px 27px;
    }
}
@media (max-width:680px){
    .landing-page{
        height: auto;
        padding-bottom: 30px;
    }
    .image img{
        width: 444px;
        height: 300px;
    } 
    .col{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: auto;
        padding-top: 20px;
    }
    .text{
        width: 100%;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0;
    }
    .custom-btn{
        margin-top:10px;
    }

}
