
@media (max-width:1115px){
    .text{
        font-size: 42px;
    }
    .image{
        margin-right: 20px;
    }
    .about-us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
    }
    .txt{
        width: 80%;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    .txt p{
        margin-top: 20px;
    }
    .not-txt{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
    }
    .mission-text h2{
        font-size: 55px;
        padding-top: 20px;
    }
    .mission-text{
        position: absolute;
        margin: 0 0 0 90px;
    }
    .mission-gallery{
        position: relative;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
       
    }
    .mission-gallery img{
        width:890px;
        height: auto;
        padding: auto;
        margin-top: 120px;
        


    }
    .mission-text p{
        font-size: 20px;
    }
    .story{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 2%;
        
    }
    .story-txt{
        margin: 30px;
    }
    .story-text h2{
        font-size: 40px;
    }
      .frame{
        margin: 0
    }
}
@media (max-width:1060px){
    .image img{
        width: 478px;
        height: 334px;
    }
    .text{
        font-size: 40px;
    }
    .nav-links a{
        font-size: 18px;
    }
}
@media (max-width:932px){
    .text{
        font-size: 30px;
        
    }
    .custom-btn{
        padding: 13px 27px;
        font-size: 18px;
    }
    .nav-links a{
        font-size: 16x;
    }
    .logo{
        margin-left:20px;
    }
    .story-txt h2{
        color:black;
        font-size: 35px;
        font-weight: 600;
        font-family: "Poppins", serif;
        margin: 0%;
        letter-spacing: 0.2px;
    }
    .story-txt p{
        font-size: 20px;
        font-weight: 400;
        font-family: "Poppins", serif;
        letter-spacing: 0.2px;
        line-height: 40px;
       
    }
    
}

#menu-icon, #close-icon {
    display: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
}
@media (max-width:1032px){
    .mission-gallery img{
        width:800px;
        height: auto;
        padding: auto;
        margin-top: 120px;
        


    }
    .mission-text p{
        font-size: 18px;
    }
    .mission-text h2{
        font-size: 55px;
        padding-top: 20px;
    }
    .mission-text{
        position: absolute;
        margin: 0 0 0 125px;
    }
}
@media (max-width:1012px){
    .mission-text{
        position: absolute;
        margin: 0 0 0 80px;
    }
}

/* ✅ Mobile Navbar */
@media (max-width: 877px){
    .image img{
        width: 478px;
        height: 334px;
    } 
    .text{
        margin-left:40px;
    }
   
    .nav-links {
        position: fixed;
        background: #189DA0;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 60px;
        padding-left: 20px;
        transition: right 0.3s ease-in-out;
        z-index: 100;
        color:white;
    }
    .nav-links a{
        color: white;
    }
    .nav-links li {
        display: block;
        width: 100%;
        
    }

    #menu-icon {
        display: block;
        color: #292A32;
    }

    #close-icon {
        display: none;
        position: absolute;
        right: 20px;
        top: 20px;
        color: white;
    }

    .nav-links.nav-active {
        right: 0;
    }

    .nav-links.nav-active #close-icon {
        display: block;
    }

    .nav-links.nav-active ~ #menu-icon {
        display: none;
    }
    .mission{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .mission-text{
        position: relative;
        margin: 0;
        width: 70%;
    }
    .mission-gallery img{
        margin: 0;
    }
}
@media (max-width:856px){
    .mission-gallery img{
        width:600px;
        height: auto;

    }
}
@media (max-width:840px){
    .image img{
        width: 444px;
        height: 300px;
    } 
}
@media (max-width:800px){
    .image{
        margin-right: 40px;
    }
    .custom-btn{
        padding: 13px 27px;
    }
    .txt h6{
        font-size: 40px ;
    }
    .txt p{
        font-size: 20px;
    }
    .not-txt img{
        width: 412px;
        height: 217px;
    }
    .frame img{
        width: 600px;
    }
    .story{
        margin-top: 2%
    }
    .story-text h2{
        font-size:35px;
        margin-bottom: 20px;
    }
    .story-txt p{
        font-size: 20px;
        font-weight: 400;
        font-family: "Poppins", serif;
        letter-spacing: 0.2px;
        margin-top: 20px;
        line-height: 30px;
       
    }
}
@media (max-width:720px){
    .image img{
        width: 414px;
        height: 270px;
    
    } 
    .image{
        margin-right: 30px;
    }
    .custom-btn{
        padding: 13px 27px;
    }
    .story-text h2{
        font-size:35px;
        margin-bottom: 20px;
    }
    .story-text p{
        padding-top: 30px;
        font-size: 18px
    }
}
@media (max-width:680px){
    .landing-page{
        height: auto;
        padding-bottom: 30px;
    }
    .image img{
        width: 444px;
        height: 300px;
    } 
    .col{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
    }
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: auto;
        padding-top: 20px;
    }
    .text{
        width: 100%;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0;
    }
    .custom-btn{
        margin-top:15px;
    }

}
@media(max-width: 640px){
    .mission{
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 3%;
        height: auto;
    }
    .mission-text h2{
        font-size: 40px;
        margin-top: 20px;
        padding-top:0px;
    }
    .mission-gallery img{
        width:500px;
        height: auto;

    }
    .frame img{
        width: 460px;
    }
    .story-text p{

        font-size: 18px;
        line-height: 30px;
    }
}
@media (max-width:540px){
    .mission-gallery img{
        width:410px;
        height: auto;

    }
    .frame img{
        width: 410px;
    }
}
@media (max-width: 480px){
    .txt h6{
        font-size: 35px ;
    }
    .txt p{
        font-size: 18px;
    }    
    .mission-text h2{
        font-size: 30px;
        margin-top: 20px;
        padding-top:0px;
    }
    .mission-text p{
        line-height: 28px;
        font-size: 16px;
    }
    .mission-gallery img{
        width:370px;
        height: auto;

    }
    .frame img{
        width: 350px;
    }
    .story-txt p{
        font-size: 16px;
        font-weight: 400;
        font-family: "Poppins", serif;
        letter-spacing: 0.2px;
        margin-top: 20px;
        line-height: 25px;
       
    }
}

@media (max-width:435px){
    .mission-gallery img{
        width:350px;
        height: auto;

    }
    .frame img{
        width: 330px;
    }
}
@media (max-width:380px){
    .mission-gallery img{
        width:300px;
        height: auto;

    }
    .mission-text h2{
        font-size: 26px;}
        .frame img{
            width: 300px;
        }
}
@media (max-width:330px){
    .mission-gallery img{
        width:250px;
        height: auto;

    }
}