
@media (max-width:1115px){
    .text{
        font-size: 42px;
    }
    .image{
        margin-right: 20px;
    }
    .about-us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
    }
    .txt{
        width: 80%;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    .txt p{
        margin-top: 20px;
    }
    .not-txt{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
    }
    .mission-text h2{
        font-size: 55px;
        padding-top: 20px;
    }
    .mission-text{
        position: absolute;
        margin: 0 0 0 90px;
    }
    .mission-gallery{
        position: relative;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
       
    }
    .mission-gallery img{
        width:890px;
        height: auto;
        padding: auto;
        margin-top: 120px;
        


    }
    .mission-text p{
        font-size: 20px;
    }
    .story{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 2%;
        
    }
    .story-txt{
        margin: 30px;
    }
    .story-text h2{
        font-size: 40px;
    }
      .frame{
        margin: 0
    }
    .event{
        text-align: center;

    }
    .in{
        margin-left: 0px;
    }
    .icons{
        margin-left: 0;
        align-items: center;
        align-content: center;
        text-align: left;
        width: 100%;
    }
    .s-present, .d-deals, .networking{
        height: 300px;
    }
    .gallery-wrapper img{
        width: 220px;
        height: 200px;
    }
    .eve{
        margin-left: 0px;
    }
    .founders{
        height: 1120px;
    }

}
@media (max-width:1060px){
    .image img{
        width: 478px;
        height: 334px;
    }
    .text{
        font-size: 40px;
    }
    .nav-links a{
        font-size: 18px;
    }
    .heading{
        font-size: 32px;
        padding: 8px 30px;
    }
    .ready{
        font-size: 50px;
    }
    .para{
        font-size: 22px;
    }
    .apply{
        margin-top: 40px;
        font-size: 32px;
    }
    .apply-box{
        margin-top: 30px;
    }
    .founders{
        height: auto;
    }
    .founders .custom-btn{
        margin-top: 30px;
        margin-bottom: 20px;
    }
}
@media (max-width:932px){
    .text{
        font-size: 30px;
        
    }
    .custom-btn{
        padding: 13px 27px;
        font-size: 18px;
    }
    .nav-links a{
        font-size: 16x;
    }
    .logo{
        margin-left:20px;
    }
    .story-txt h2{
        color:black;
        font-size: 35px;
        font-weight: 600;
        font-family: "Poppins", serif;
        margin: 0%;
        letter-spacing: 0.2px;
    }
    .story-txt p{
        font-size: 20px;
        font-weight: 400;
        font-family: "Poppins", serif;
        letter-spacing: 0.2px;
        line-height: 40px;
       
    }
    
}

#menu-icon, #close-icon {
    display: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
}
@media (max-width:1032px){
    .mission-gallery img{
        width:800px;
        height: auto;
        padding: auto;
        margin-top: 120px;
        


    }
    .mission-text p{
        font-size: 18px;
    }
    .mission-text h2{
        font-size: 55px;
        padding-top: 20px;
    }
    .mission-text{
        position: absolute;
        margin: 0 0 0 125px;
    }
}
@media (max-width:1012px){
    .mission-text{
        position: absolute;
        margin: 0 0 0 80px;
    }
}

/* ✅ Mobile Navbar */
@media (max-width: 877px){
    .image img{
        width: 478px;
        height: 334px;
    } 
    .text{
        margin-left:40px;
    }
   
    .nav-links {
        position: fixed;
        background: #189DA0;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 60px;
        padding-left: 20px;
        transition: right 0.3s ease-in-out;
        z-index: 100;
        color:white;
    }
    .nav-links a{
        color: white;
    }
    .nav-links li {
        display: block;
        width: 100%;
        
    }

    #menu-icon {
        display: block;
        color: #292A32;
    }

    #close-icon {
        display: none;
        position: absolute;
        right: 20px;
        top: 20px;
        color: white;
    }

    .nav-links.nav-active {
        right: 0;
    }

    .nav-links.nav-active #close-icon {
        display: block;
    }

    .nav-links.nav-active ~ #menu-icon {
        display: none;
    }
    .mission{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .mission-text{
        position: relative;
        margin: 0;
        width: 70%;
    }
    .mission-gallery img{
        margin: 0;
    }
}
@media (max-width:856px){
    .mission-gallery img{
        width:600px;
        height: auto;

    }
}
@media (max-width:840px){
    .image img{
        width: 444px;
        height: 300px;
    } 
}
@media (max-width:800px){
    .image{
        margin-right: 40px;
    }
    .custom-btn{
        padding: 13px 27px;
    }
    .txt h6{
        font-size: 40px ;
    }
    .txt p{
        font-size: 20px;
    }
    .not-txt img{
        width: 412px;
        height: 217px;
    }
    .frame img{
        width: 600px;
    }
    .story{
        margin-top: 2%
    }
    .story-text h2{
        font-size:35px;
        margin-bottom: 20px;
    }
    .story-txt p{
        font-size: 20px;
        font-weight: 400;
        font-family: "Poppins", serif;
        letter-spacing: 0.2px;
        margin-top: 20px;
        line-height: 30px;
       
    }
    .in{
        font-size:35px;
    }
    .icons{
        margin: 20px;
    }
    .icons h4{
        font-size: 20px;
    }
    .icons p{
        font-size: 16px;
    }
    .heading{
        font-size: 28px;
        padding: 5px 26px;
    }
    .ready{
        font-size: 40px;
        margin-top: 20px;
    }
    .para{
        font-size: 18px;
        line-height: 28px;
        margin-top: 20px;
    }
    .apply{
        margin-top: 20px;
        font-size: 32px;
    }
    .apply-box{
        margin-top: 30px;
    }
    .founders{
        height: auto;
    }
    .founders .custom-btn{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .first, .second{
        width:280px;
        height:320px;
        background-color: white;
        border-radius: 10px;
        padding:10px;
    }
    .num{
        font-size: 28px;
}
    .pitch{
        margin-top: 10px;
        font-size: 18px;
    }
}
@media (max-width:720px){
    .image img{
        width: 414px;
        height: 270px;
    
    } 
    .image{
        margin-right: 30px;
    }
    .custom-btn{
        padding: 13px 27px;
    }
    .story-text h2{
        font-size:35px;
        margin-bottom: 20px;
    }
    .story-text p{
        padding-top: 30px;
        font-size: 18px
    }
    .s-present, .d-deals{
        padding-right: 10px;
    }
    .gallery-wrapper img{
        width: 180px;
        height: 160px;
    }
    .eve{
        color:black;
        font-size: 30px;
        font-weight: 600;
        font-family: "Poppins", serif;
        padding-top: 40px;
        letter-spacing: 0.2px;

        
    }
}
@media (max-width:680px){
    .landing-page{
        height: auto;
        padding-bottom: 30px;
    }
    .image img{
        width: 444px;
        height: 300px;
    } 
    .col{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
    }
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: auto;
        padding-top: 20px;
    }
    .text{
        width: 100%;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0;
    }
    .custom-btn{
        margin-top:15px;
    }
    .icons{
        gap:10px;
    }
    .icons h4{
        line-height: 20px;
    }
    .icons img{
        width: 30px;
        height: 25px;
    }
    .gallery-wrapper img{
        width: 160px;
        height: 140px;
    }

}
@media(max-width: 640px){
    .mission{
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 3%;
        height: auto;
    }
    .mission-text h2{
        font-size: 40px;
        margin-top: 20px;
        padding-top:0px;
    }
    .mission-gallery img{
        width:500px;
        height: auto;

    }
    .frame img{
        width: 460px;
    }
    .story-text p{

        font-size: 18px;
        line-height: 30px;
    }
    .in{
        font-size: 28px;
    }
    .heading{
        font-size: 28px;
        padding: 5px 26px;
    }
    .ready{
        font-size: 40px;
        margin-top: 20px;
    }
    .para{
        font-size: 18px;
        line-height: 28px;
        margin-top: 20px;
    }
    .apply{
        margin-top: 10px;
        font-size: 32px;
    }
    .apply-box{
        margin-top: 30px;
    }
    .founders{
        height: auto;
    }
    .founders .custom-btn{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .first, .second{
        width:200px;
        height:320px;
        background-color: white;
        border-radius: 10px;
        padding:10px;
    }
    .num{
        font-size: 25px;
}
    .pitch{
        margin: 0px;
        font-size: 17px;
    }
    .first p{
        margin-top: 0px;
        font-size: 16px;
        line-height: 27px;
        font-weight: 400;
        font-family: var(--font-primary);
        color: #1E1E1E;
    }
}
@media (max-width:540px){
    .mission-gallery img{
        width:410px;
        height: auto;

    }
    .frame img{
        width: 410px;
    }
    .icons{
        margin: 0;
    }
    .gall{
        margin-top:100px;
    }
    .eve{
        padding-top: 20px;
    }
    .gallery-wrapper img{
        width: 140px;
        height: 120px;
        border-radius: 10px;
    }
 .custom-btn{
    padding: 15px 20px;
    }

}
@media (max-width: 480px){
    .txt h6{
        font-size: 35px ;
    }
    .txt p{
        font-size: 18px;
    }    
    .mission-text h2{
        font-size: 30px;
        margin-top: 20px;
        padding-top:0px;
    }
    .mission-text p{
        line-height: 28px;
        font-size: 16px;
    }
    .mission-gallery img{
        width:370px;
        height: auto;

    }
    .frame img{
        width: 350px;
    }
    .story-txt p{
        font-size: 16px;
        font-weight: 400;
        font-family: "Poppins", serif;
        letter-spacing: 0.2px;
        margin-top: 20px;
        line-height: 25px;
       
    }
    .icons p{
        line-height: 20px;
        font-size: 16px;
    }
    .icons h4{
        font-size: 20px;
    }
    .in{
        font-size: 25px;
    }
    .eve{
        font-size: 28px;
    }
    .gall{
        margin-top: 50px;
    }
    .gallery-wrapper img{
        width: 120px;
        height: 100px;
    }
    .heading{
        font-size: 23px;
        padding: 5px 20px;
    }
    .ready{
        font-size: 32px;
        margin-top: 20px;
        line-height: 38px;
    }
    .para{
        font-size: 16px;
        line-height: 28px;
        margin-top: 20px;
    }
    .apply{
        margin-top: 10px;
        font-size: 25px;
        line-height: 30px;
    }
    .apply-box{
        margin-top: 30px;
    }
    .founders{
        height: auto;
    }
    .founders .custom-btn{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .first, .second{
        width:180px;
        height:320px;
        background-color: white;
        border-radius: 10px;
        padding:10px;
    }
    .num{
        font-size: 25px;
}
    .pitch{
        margin: 0px;
        font-size: 17px;
    }
    .first p{
        margin-top: 0px;
        font-size: 16px;
        line-height: 27px;
        font-weight: 400;
        font-family: var(--font-primary);
        color: #1E1E1E;
    }
}

@media (max-width:435px){
    .mission-gallery img{
        width:350px;
        height: auto;

    }
    .frame img{
        width: 330px;
    }
    .eve{
        font-size: 25px;
    }
    .gall{
        margin-top: 50px;
    }
    .gallery-wrapper{
        gap: 5px;
    }
    .gallery-wrapper img{
        width: 105px;
        height: 95px;
    }
    .first, .second{
        width:160px;
        height:320px;
        background-color: white;
        border-radius: 10px;
        padding:10px;
    }
}
@media (max-width:370px){
    .gallery-wrapper img{
        width: 90px;
        height: 70px;
    }
}
@media (max-width:380px){
    .mission-gallery img{
        width:300px;
        height: auto;

    }
    .mission-text h2{
        font-size: 26px;}
        .frame img{
            width: 300px;
        }
        .icons p{
            line-height: 20px;
            font-size: 14px;
        }
        .icons h4{
            font-size: 18px;
        }
        .in{
            font-size: 22px;
        }
        .eve{
            font-size: 22px;
        }
        .gall{
            margin-top: 50px;
        }
        .gallery-wrapper img{
            width: 100;
            height:80px;
        }
        .first, .second{
            width:140px;
            height:320px;
            background-color: white;
            border-radius: 10px;
            padding:10px;
        }
}
@media (max-width:330px){
    .mission-gallery img{
        width:250px;
        height: auto;

    }
    .icons p{
        line-height: 20px;
        font-size: 12px;
    }
    .icons h4{
        font-size: 16px;
    }
    .in{
        font-size: 20px;
    }
    .gallery-wrapper img{
        width: 70px;
        height: 50px;
    }
    .first, .second{
        width:120px;
        height:320px;
        background-color: white;
        border-radius: 10px;
        padding:10px;
    }

}